In [2]:
pip install pandas numpy matplotlib

Collecting pandas
  Downloading pandas-2.3.1-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy
  Downloading numpy-2.3.2-cp311-cp311-win_amd64.whl.metadata (60 kB)
Collecting matplotlib
  Downloading matplotlib-3.10.5-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eduardonaves\desktop\imersão_dados_alura\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp311-cp311-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.59.0-cp311-cp311-win_amd64.whl.metadata (110 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp311-cp311-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\eduardonaves\desktop\imersão_dados_alura\.venv\lib\site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.3.0-cp311-cp311-win_amd64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six>=1.5 in c:\users\eduardonaves\desktop\imersão_dados_alura\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp311-cp311-win_amd64.whl (11.3 MB)
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
    --------------------------------------- 0.3/11.3 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.3 MB 1.2 MB/s eta 0:00:10
   -- ------------------------------------- 0.8/11.3 MB 1.2 MB/s eta 0:00:10
   --- ------------------------------------ 1.0/11.3 MB 1.2 MB/s eta 0:00:09
   ---- ----------------------------------- 1.3/11.3 MB 1.2 MB/s eta 0:00:09
   ----- ---------------------------------- 1.6/11.3 MB 1.2 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.3 MB 1.2 MB/s eta 0:00:09
   ------- -------------------------------- 2.1/11.3 MB 1.2 MB/s eta 0:00:08
   -------- ------------------------------- 2.4/11.3 MB 1.2 MB/s eta 0:00:08
   --------- ------------------------------ 2.6/11.3 MB 1.2 MB/s eta 0:00:08
   ---------- ----------------------------- 2.9/11.3 MB 1.2 MB/s eta 0:00:08
   ----------- ---------------------------- 3.1/11.3 MB 1.2 MB/s eta 0:00:07
   ------------ --------------------------- 3.4/11.3 MB 1.2 MB/s eta 0:00:07
   ------------ --------------------------- 3.7/11.3 MB 1.2 MB/s eta 0:00:07
   ------------- -------------------------- 3.9/11.3 MB 1.2 MB/s eta 0:00:07
   -------------- ------------------------- 4.2/11.3 MB 1.2 MB/s eta 0:00:07
   --------------- ------------------------ 4.5/11.3 MB 1.2 MB/s eta 0:00:06
   ---------------- ----------------------- 4.7/11.3 MB 1.2 MB/s eta 0:00:06
   ----------------- ---------------------- 5.0/11.3 MB 1.2 MB/s eta 0:00:06
   ------------------ --------------------- 5.2/11.3 MB 1.2 MB/s eta 0:00:06
   ------------------- -------------------- 5.5/11.3 MB 1.2 MB/s eta 0:00:05
   -------------------- ------------------- 5.8/11.3 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 6.0/11.3 MB 1.2 MB/s eta 0:00:05
   ---------------------- ----------------- 6.3/11.3 MB 1.2 MB/s eta 0:00:05
   ----------------------- ---------------- 6.6/11.3 MB 1.2 MB/s eta 0:00:05
   ----------------------- ---------------- 6.6/11.3 MB 1.2 MB/s eta 0:00:05
   ------------------------ --------------- 7.1/11.3 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.3 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.3/11.3 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 7.6/11.3 MB 1.2 MB/s eta 0:00:04
   --------------------------- ------------ 7.9/11.3 MB 1.2 MB/s eta 0:00:03
   ---------------------------- ----------- 8.1/11.3 MB 1.2 MB/s eta 0:00:03
   ----------------------------- ---------- 8.4/11.3 MB 1.2 MB/s eta 0:00:03
   ------------------------------ --------- 8.7/11.3 MB 1.2 MB/s eta 0:00:03
   ------------------------------- -------- 8.9/11.3 MB 1.2 MB/s eta 0:00:03
   -------------------------------- ------- 9.2/11.3 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 9.4/11.3 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 9.7/11.3 MB 1.2 MB/s eta 0:00:02
   ----------------------------------- ---- 10.0/11.3 MB 1.2 MB/s eta 0:00:02
   ------------------------------------ --- 10.2/11.3 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.3 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.3 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 11.0/11.3 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 11.3/11.3 MB 1.2 MB/s  0:00:09
Downloading numpy-2.3.2-cp311-cp311-win_amd64.whl (13.1 MB)
   ---------------------------------------- 0.0/13.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/13.1 MB ? eta -:--:--
    --------------------------------------- 0.3/13.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/13.1 MB 1.2 MB/s eta 0:00:11
   -- ------------------------------------- 0.8/13.1 MB 1.2 MB/s eta 0:00:11
   --- ------------------------------------ 1.0/13.1 MB 1.2 MB/s eta 0:00:11
   ---- ----------------------------------- 1.3/13.1 MB 1.2 MB/s eta 0:00:11
   ---- ----------------------------------- 1.6/13.1 MB 1.2 MB/s eta 0:00:10
   ----- ---------------------------------- 1.8/13.1 MB 1.2 MB/s eta 0:00:10
   ------ --------------------------------- 2.1/13.1 MB 1.2 MB/s eta 0:00:10
   ------- -------------------------------- 2.4/13.1 MB 1.2 MB/s eta 0:00:10
   -------- ------------------------------- 2.6/13.1 MB 1.2 MB/s eta 0:00:09
   -------- ------------------------------- 2.9/13.1 MB 1.2 MB/s eta 0:00:09
   --------- ------------------------------ 3.1/13.1 MB 1.2 MB/s eta 0:00:09
   ---------- ----------------------------- 3.4/13.1 MB 1.2 MB/s eta 0:00:09
   ----------- ---------------------------- 3.7/13.1 MB 1.2 MB/s eta 0:00:08
   ------------ --------------------------- 3.9/13.1 MB 1.2 MB/s eta 0:00:08
   ------------ --------------------------- 4.2/13.1 MB 1.2 MB/s eta 0:00:08
   ------------- -------------------------- 4.5/13.1 MB 1.2 MB/s eta 0:00:08
   -------------- ------------------------- 4.7/13.1 MB 1.2 MB/s eta 0:00:08
   --------------- ------------------------ 5.0/13.1 MB 1.2 MB/s eta 0:00:07
   ---------------- ----------------------- 5.2/13.1 MB 1.2 MB/s eta 0:00:07
   ---------------- ----------------------- 5.5/13.1 MB 1.2 MB/s eta 0:00:07
   ----------------- ---------------------- 5.8/13.1 MB 1.2 MB/s eta 0:00:07
   ------------------ --------------------- 6.0/13.1 MB 1.2 MB/s eta 0:00:06
   ------------------- -------------------- 6.3/13.1 MB 1.2 MB/s eta 0:00:06
   -------------------- ------------------- 6.6/13.1 MB 1.2 MB/s eta 0:00:06
   -------------------- ------------------- 6.8/13.1 MB 1.2 MB/s eta 0:00:06
   --------------------- ------------------ 7.1/13.1 MB 1.2 MB/s eta 0:00:06
   ---------------------- ----------------- 7.3/13.1 MB 1.2 MB/s eta 0:00:05
   ---------------------- ----------------- 7.3/13.1 MB 1.2 MB/s eta 0:00:05
   ----------------------- ---------------- 7.6/13.1 MB 1.2 MB/s eta 0:00:05
   ------------------------ --------------- 7.9/13.1 MB 1.2 MB/s eta 0:00:05
   ------------------------ --------------- 8.1/13.1 MB 1.2 MB/s eta 0:00:05
   ------------------------- -------------- 8.4/13.1 MB 1.2 MB/s eta 0:00:04
   -------------------------- ------------- 8.7/13.1 MB 1.2 MB/s eta 0:00:04
   --------------------------- ------------ 8.9/13.1 MB 1.2 MB/s eta 0:00:04
   ---------------------------- ----------- 9.2/13.1 MB 1.2 MB/s eta 0:00:04
   ---------------------------- ----------- 9.4/13.1 MB 1.2 MB/s eta 0:00:04
   ----------------------------- ---------- 9.7/13.1 MB 1.2 MB/s eta 0:00:03
   ------------------------------ --------- 10.0/13.1 MB 1.2 MB/s eta 0:00:03
   ------------------------------- -------- 10.2/13.1 MB 1.2 MB/s eta 0:00:03
   -------------------------------- ------- 10.5/13.1 MB 1.2 MB/s eta 0:00:03
   -------------------------------- ------- 10.7/13.1 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 11.0/13.1 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 11.3/13.1 MB 1.2 MB/s eta 0:00:02
   ----------------------------------- ---- 11.5/13.1 MB 1.2 MB/s eta 0:00:02
   ------------------------------------ --- 11.8/13.1 MB 1.2 MB/s eta 0:00:02
   ------------------------------------ --- 12.1/13.1 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 12.3/13.1 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 12.6/13.1 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  12.8/13.1 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 13.1/13.1 MB 1.2 MB/s  0:00:11
Downloading matplotlib-3.10.5-cp311-cp311-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.1 MB ? eta -:--:--
   -- ------------------------------------- 0.5/8.1 MB 1.2 MB/s eta 0:00:07
   --- ------------------------------------ 0.8/8.1 MB 1.2 MB/s eta 0:00:07
   ----- ---------------------------------- 1.0/8.1 MB 1.2 MB/s eta 0:00:07
   ------ --------------------------------- 1.3/8.1 MB 1.2 MB/s eta 0:00:06
   ------- -------------------------------- 1.6/8.1 MB 1.2 MB/s eta 0:00:06
   --------- ------------------------------ 1.8/8.1 MB 1.2 MB/s eta 0:00:06
   ---------- ----------------------------- 2.1/8.1 MB 1.2 MB/s eta 0:00:06
   ----------- ---------------------------- 2.4/8.1 MB 1.2 MB/s eta 0:00:05
   ------------ --------------------------- 2.6/8.1 MB 1.2 MB/s eta 0:00:05
   -------------- ------------------------- 2.9/8.1 MB 1.2 MB/s eta 0:00:05
   --------------- ------------------------ 3.1/8.1 MB 1.2 MB/s eta 0:00:05
   ---------------- ----------------------- 3.4/8.1 MB 1.2 MB/s eta 0:00:04
   ------------------ --------------------- 3.7/8.1 MB 1.2 MB/s eta 0:00:04
   ------------------- -------------------- 3.9/8.1 MB 1.2 MB/s eta 0:00:04
   -------------------- ------------------- 4.2/8.1 MB 1.2 MB/s eta 0:00:04
   ---------------------- ----------------- 4.5/8.1 MB 1.2 MB/s eta 0:00:04
   ----------------------- ---------------- 4.7/8.1 MB 1.2 MB/s eta 0:00:03
   ------------------------ --------------- 5.0/8.1 MB 1.2 MB/s eta 0:00:03
   ------------------------- -------------- 5.2/8.1 MB 1.2 MB/s eta 0:00:03
   --------------------------- ------------ 5.5/8.1 MB 1.2 MB/s eta 0:00:03
   ---------------------------- ----------- 5.8/8.1 MB 1.2 MB/s eta 0:00:02
   ----------------------------- ---------- 6.0/8.1 MB 1.2 MB/s eta 0:00:02
   ------------------------------- -------- 6.3/8.1 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 6.6/8.1 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 6.8/8.1 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 7.1/8.1 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 7.3/8.1 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.1 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.1 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 7.9/8.1 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 1.2 MB/s  0:00:06
Downloading contourpy-1.3.3-cp311-cp311-win_amd64.whl (225 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.59.0-cp311-cp311-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.3 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.3 MB 1.2 MB/s eta 0:00:02
   ------------- -------------------------- 0.8/2.3 MB 1.2 MB/s eta 0:00:02
   ------------------ --------------------- 1.0/2.3 MB 1.2 MB/s eta 0:00:02
   ----------------------- ---------------- 1.3/2.3 MB 1.2 MB/s eta 0:00:01
   --------------------------- ------------ 1.6/2.3 MB 1.2 MB/s eta 0:00:01
   -------------------------------- ------- 1.8/2.3 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 2.1/2.3 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 1.2 MB/s  0:00:01
Downloading kiwisolver-1.4.8-cp311-cp311-win_amd64.whl (71 kB)
Downloading pillow-11.3.0-cp311-cp311-win_amd64.whl (7.0 MB)
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.0 MB ? eta -:--:--
   --- ------------------------------------ 0.5/7.0 MB 1.2 MB/s eta 0:00:06
   ---- ----------------------------------- 0.8/7.0 MB 1.2 MB/s eta 0:00:06
   ------ --------------------------------- 1.0/7.0 MB 1.2 MB/s eta 0:00:06
   ------- -------------------------------- 1.3/7.0 MB 1.2 MB/s eta 0:00:05
   --------- ------------------------------ 1.6/7.0 MB 1.2 MB/s eta 0:00:05
   ---------- ----------------------------- 1.8/7.0 MB 1.2 MB/s eta 0:00:05
   ------------ --------------------------- 2.1/7.0 MB 1.2 MB/s eta 0:00:05
   ------------- -------------------------- 2.4/7.0 MB 1.2 MB/s eta 0:00:04
   --------------- ------------------------ 2.6/7.0 MB 1.2 MB/s eta 0:00:04
   ---------------- ----------------------- 2.9/7.0 MB 1.2 MB/s eta 0:00:04
   ------------------ --------------------- 3.1/7.0 MB 1.2 MB/s eta 0:00:04
   ------------------- -------------------- 3.4/7.0 MB 1.2 MB/s eta 0:00:04
   --------------------- ------------------ 3.7/7.0 MB 1.2 MB/s eta 0:00:03
   ---------------------- ----------------- 3.9/7.0 MB 1.2 MB/s eta 0:00:03
   ------------------------ --------------- 4.2/7.0 MB 1.2 MB/s eta 0:00:03
   ------------------------- -------------- 4.5/7.0 MB 1.2 MB/s eta 0:00:03
   --------------------------- ------------ 4.7/7.0 MB 1.2 MB/s eta 0:00:02
   ---------------------------- ----------- 5.0/7.0 MB 1.2 MB/s eta 0:00:02
   ------------------------------ --------- 5.2/7.0 MB 1.2 MB/s eta 0:00:02
   ------------------------------- -------- 5.5/7.0 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 5.8/7.0 MB 1.2 MB/s eta 0:00:02
   ---------------------------------- ----- 6.0/7.0 MB 1.2 MB/s eta 0:00:01
   ---------------------------------- ----- 6.0/7.0 MB 1.2 MB/s eta 0:00:01
   ------------------------------------ --- 6.3/7.0 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 6.6/7.0 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 7.0/7.0 MB 1.2 MB/s  0:00:05
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib

   ----------------------------------------  0/11 [pytz]
   ----------------------------------------  0/11 [pytz]
   ----------------------------------------  0/11 [pytz]
   ----------------------------------------  0/11 [pytz]
   ----------------------------------------  0/11 [pytz]
   ----------------------------------------  0/11 [pytz]
   --- ------------------------------------  1/11 [tzdata]
   --- ------------------------------------  1/11 [tzdata]
   --- ------------------------------------  1/11 [tzdata]
   --- ------------------------------------  1/11 [tzdata]
   --- ------------------------------------  1/11 [tzdata]
   --- ------------------------------------  1/11 [tzdata]
   --- ------------------------------------  1/11 [tzdata]
   --- ------------------------------------  1/11 [tzdata]
   --- ------------------------------------  1/11 [tzdata]
   ------- --------------------------------  2/11 [pyparsing]
   ---------- -----------------------------  3/11 [pillow]
   ---------- -----------------------------  3/11 [pillow]
   ---------- -----------------------------  3/11 [pillow]
   ---------- -----------------------------  3/11 [pillow]
   ---------- -----------------------------  3/11 [pillow]
   ---------- -----------------------------  3/11 [pillow]
   ---------- -----------------------------  3/11 [pillow]
   ---------- -----------------------------  3/11 [pillow]
   ---------- -----------------------------  3/11 [pillow]
   ---------- -----------------------------  3/11 [pillow]
   ---------- -----------------------------  3/11 [pillow]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]
   -------------- -------------------------  4/11 [numpy]

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv')

In [5]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [7]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [8]:
#lines, columns
df.shape

(133349, 11)

In [12]:
lines, columns = df.shape[0], df.shape[1]
print(f'The dataframe has {lines} lines and {columns} columns')

The dataframe has 133349 lines and 11 columns

In [13]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [14]:
all_columns = df.columns
for column in all_columns:
    print(column)

work_year
experience_level
employment_type
job_title
salary
salary_currency
salary_in_usd
employee_residence
remote_ratio
company_location
company_size

In [15]:
df['experience_level'].value_counts()

experience_level
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [16]:
df['employment_type'].value_counts()

employment_type
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [17]:
df['remote_ratio'].value_counts()

remote_ratio
0      105312
100     27718
50        319
Name: count, dtype: int64

In [18]:
df['company_size'].value_counts()

company_size
M    129561
L      3574
S       214
Name: count, dtype: int64

In [19]:
df.columns = ['work_year', 'experience_level', 'employment_type', 'job_title',
              'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
              'remote_ratio', 'company_location', 'company_size']

df.columns = df.columns.str.lower().str.replace(' ', '_')
print(df.columns)

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [20]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [21]:
df.describe(include='object')

,experience_level,employment_type,job_title,salary_currency,employee_residence,company_location,company_size
count,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,95,3
top,SE,FT,Data Scientist,USD,US,US,M
freq,77241,132563,17314,126140,119579,119641,129561